.disable-court-wrapper {
  background-color: transparent
}
.disable-court-form select, .disable-court-form input {
  background-color: var(--medium-pink-color);
  height: 2.5rem;
  height: 50px;
  border-radius: 5px;
  margin-right: 5px !important;
  max-width: 150px;
  transition: 0.2s;
}
.disable-court-form select option{
  background-color: var(--medium-pink-color);
}
.disable-court-table thead{
  border: 0;
  background-color: var(--medium-pink-color);
}
.disable-court-table tbody>tr{
  border: 0;
  background-color: white;
}
.disable-court-table tbody>tr{
  border-bottom: 2px solid #ECEEEF
}
