.landing {
    width: 100vw;
}

.landing .imagegroup {
    position: fixed;
}

.landing .imagegroup div {
    width: 100vw;
}

.landing .image {
  position: relative;
  max-width: 500px;
}
.landing .image1 {
  width: 60%;
  max-width: 350px !important;
  top: -16%;
  left: -8%;
}

.landing .ellipse1 {
  width: 57%;
  max-width: 409px;
  top: 3vh;
  left: 16%;
}

.landing .ellipse2 {
  width: 70%;
  max-width: 523px;
  right: -42%;
  top: -34%;
}

.landing .image2 {
  width: 62%;
  max-width: 350px;
  right: -50%;
  top: -58%;
}

@media(max-height: 800px) {
    .landing .imagegroup {
        max-width: 300px;
        left: 14%;
        top: 25%;
    }
}

@media(max-height: 700px) {
    .landing .imagegroup {
        max-width: 300px;
        left: 10%;
        top: 25%;
    }
}

@media(max-height: 600px) {
    .landing .imagegroup {
        max-width: 250px;
        left: 12%;
        top: 25%;
    }
}

@media(min-width: 769px) {
    .landing .textgroup {
        padding: 10% !important;
    }
    .landing h4 {
        font-size: 54px;
    }
    .landing .imagegroup {
        max-width: 1000px;
        top: 20%;
        left: 20vw;
    }
    .landing .button {
        position: relative !important;
        max-width: 372px;
        margin: 7%;
        top: -140px;
    }
}

@media(min-width: 992px) {
    .landing .textgroup {
        padding: 10% !important;
    }
    .landing h4 {
        font-size: 54px;
    }
    .landing .imagegroup {
        min-width: 900px;
        top: 15%;
        left: 10vw;
    }

}

@media(min-width: 1200px) {
    .landing .imagegroup {
        min-width: 1200px;
        top: 20%;
        left: 10vw;
    }

}