@import "./core/components/ui/footer/footer.css";
@import "./core/components/ui/login/login.css";
@import "./core/components/ui/navbar/navbar.css";
@import "./core/components/ui/navbar/staff-sidebar.css";
@import "./core/components/pages/landing.css";

:root {
  --lightpink-color: #ffeced;
  --pink-color: #ff80ab;
  --darkpink-color: #c94f7c;
  --red-color: #c9302c;
  --bg-color: #fafafa;
  --lightgrey-color: #eeeeee;
  --text-color: #373a3c;
  --sm-width: 576px;
  --md-width: 768px;
  --lg-width: 992px;
  --xlg-width: 1200px;
}
body,
html,
#root {
  width: 100%;
  height: 100%;
  overflow: auto;
}
* {
  font-weight: 700;
}
#root {
  background: var(--bg-color);
}
.button-group button {
  max-width: auto;
  max-height: 52px;
  width: 100%;
  box-sizing: border-box;
  border: transparent;
  border-radius: 15px;
  margin-bottom: 20px;
}
.btn-pink {
  background-color: var(--pink-color);
  color: white;
}
.btn-toggle {
  font-size: 16px;
  margin-right: 10px;
  background-color: var(--lightgrey-color);
  border-radius: 4px;
}
.btn-toggle.focus {
  background-color: var(--pink-color);
  outline: 0;
  color: white;
  box-shadow: 0 0 0;
}
.btn-darkpink {
  background: var(--darkpink-color);
  color: white;
}
.btn-pink:focus,
.btn-darkpink:focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(255, 128, 171, 0.25);
}
.btn-normal {
  font-size: medium;
  font-weight: normal;
  border-radius: 15px;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.btn-normal:hover {
  background-color: #ff2e7e;
  color: white;
}
.btn-outline-black:hover {
  background-color: grey;
  border-color: transparent;
  color: white;
}
.btn-outline-pink {
  color: var(--pink-color);
  border-color: var(--pink-color);
}
.btn-outline-pink:hover {
  background-color: var(--pink-color);
  color: white;
  border-color: white;
}
.btn-outline-red:hover {
  background-color: var(--red-color);
  color: white;
  border-color: white;
}
.btn-outline-green:hover {
  background-color: green;
  color: white;
  border-color: white;
}
label {
  font-weight: 400;
}

.default-mobile-wrapper {
  padding: 20px 20px 20px 20px;
  background: white;
  box-shadow: 0px 10px 20px -5px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
}

.dropdown-item {
  white-space: normal;
}
.fit-button {
  white-space: normal;
}

@media (min-width: 769px) {
  .default-wrapper {
    padding: 70px 50px 70px 50px;
    background: white;
    box-shadow: 0px 10px 20px -5px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
  }
}

.page-wrap {
  padding-bottom: 80px;
  min-height: 500px;
}
@media (max-width: 768px) {
  .page-wrap {
    margin-top: 30px;
  }
}
@media (min-width: 768px) {
  .page-wrap {
    margin-top: 3%;
    margin-bottom: 12%;
  }
}
@media (min-width: 992px) {
  .page-wrap {
    margin-top: 6%;
    margin-bottom: 12%;
  }
}
.logo {
  margin-left: 9vw;
  max-width: 81px;
  max-height: 54px;
}

.styled-link {
  text-decoration-line: none;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.3s;
}
.styled-link:hover {
  text-decoration-line: none;
  color: black;
  font-weight: bold;
  font-size: 18px;
}

.styled-link-black-button {
  text-decoration-line: none;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.3s;
}
.styled-link:hover {
  text-decoration-line: none;
  color: var(--pink-color);
  font-weight: bold;
  font-size: 18px;
}

.table td {
  font-weight: lighter;
  vertical-align: middle;
}
.tr-normal {
  background-color: white;
}
.tr-pink {
  background-color: rgb(252, 177, 223);
}

p {
  font-weight: lighter;
}

p.link {
  cursor: pointer;
  font-weight: lighter;
  text-decoration: underline;
  width: 30%;
}

.page-link {
  font-weight: lighter;
  background: var(--pink-color);
  color: white;
  border-color: white;
}
.page-link:hover {
  background: #df609f;
  color: white;
}
.page-item.active .page-link {
  border-color: white;
  background: #b84f83;
}

.form-control {
  height: 3rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.card {
  border-radius: 15px;
}

.card .dim-white {
  border: transparent;
  background-color: whitesmoke;
}

.form-label {
  font-weight: bold;
}

<<<<<<< HEAD
.custom-checkbox {
  margin-top: 4px;
  width: 15px;
  height: 15px;
}

.custom-select {
  background-color: #ffadc8;
}

.time-checkbox {
  width: 15px;
  height: 15px;
}

.input-error {
  color: red;
}
=======
.box-container {
  background-color: white;
  border-radius: 15px;
  box-shadow: 0px 10px 30px 5px rgba(204, 204, 204, 0.4);
  margin-bottom: 20px;
  text-align: start;
}

.modal {
  display: block;
}

.modal-content {
  display: block !important;
  border-color: transparent !important;
  border-radius: 15px !important;
}

.modal-footer, .modal-header {
  border-color: transparent;
}

.btn-pink-pink {
  background-color: var(--pink-color);
  color: white;
}

.btn-lightpink-lightpink {
  background: rgba(255, 178, 221, 1);
  color: black;
}
>>>>>>> first commit
